p {
    height: 50px;
    width: 50px;
    margin: 20px
}

.blue {
    background: #4285F4
}
.purple {
    background: #643579
}

div {
    display: flex;
    border: 3px solid #4285F4;
    justify-content: center;
}
.bottom {
    margin-top: 20px;
    background: #FF6347
}

main {
    width: 1000px
}